{% extends "layout.html" %}
{% load static %}

{% block title %}Dashboard - Sistema Médico{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'JyGDreams/index.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center mb-5 title-dashboard">Panel de Control Clinico</h1>

<div class="cards-container">
    <!-- Pacientes -->
    <div class="card card-action">
        <div class="card-body">
            <i class="bi bi-person-fill icon"></i>
            <h5 class="card-title">Pacientes</h5>
            <p class="card-text">Gestiona tus pacientes y su información personal.</p>
            <a href="{% url 'tabla_paciente' %}" class="btn btn-emerald">Ir a Pacientes</a>
        </div>
    </div>

    <!-- Expedientes -->
    <div class="card card-action">
        <div class="card-body">
            <i class="bi bi-folder-fill icon"></i>
            <h5 class="card-title">Expedientes</h5>
            <p class="card-text">Accede a el historial medico del paciente</p>
            <a href="{% url 'expediente_pacientes' %}" class="btn btn-emerald">Ver Expedientes</a>
        </div>
    </div>

    <!-- Citas -->
    <div class="card card-action">
        <div class="card-body">
            <i class="bi bi-calendar-check-fill icon"></i>
            <h5 class="card-title">Citas</h5>
            <p class="card-text">Administra las citas de pacientes y gestiona sus respectivos pagos</p>
            <a href="{% url 'cita_pacientes' %}" class="btn btn-emerald">Ver Citas</a>
        </div>
    </div>

    <!-- Dashboard -->
    <div class="card card-action">
        <div class="card-body">
            <i class="bi bi-file-bar-graph-fill icon"></i>
            <h5 class="card-title">Estadisticas</h5>
            <p class="card-text">Revisa como va la clinica en numeros</p>
            <a href="{% url 'estadisticas' %}" class="btn btn-emerald">Revisar estadisticas</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- {% if messages %}
<script>
  Swal.fire({
    icon: 'success',
    title: '{% for message in messages %}{{ message }}{% endfor %}',
    showConfirmButton: false,
    timer: 2000
  });
</script>
{% endif %} -->

{% if messages %}
  {% for message in messages %}
    <script>
      Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message|escapejs }}',
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 4000
      });
    </script>
  {% endfor %}
{% endif %}

{% endblock %}